<div class="banner">
    <div class="container">
      <div class="aboutWeb">
        <h2 class="flex">
          网站信息<span> (建站于二零一八年五月二十日)</span>
          <button class="ea"><span class="fa fa-edit fa-fw"></span></button>
          <div>
            <p><span><%= @view %></span> 浏览量</p>
          </div>
        </h2>
        <p>网站立项于推广宣传古村落的文化传承，不涉及商业用途。</p>
        <p>网站建立的目的在于记录广东地区自古遗留仍存的村落文化及历史，全面深入的写下、宣传、推广点点滴滴的内容。</p>
      </div>
    </div>
  </div>
<div class="container">
	<div class="content flex">
		<div class="left-content">
			<div class="about">
				<%= sanitize(@about.content) %>
			</div>
		</div>
		<%= render 'commond/contentRight',num: 2 %>
	</div>
</div>
<%= render 'commond/adminAbout' %>