<% flash.each do |key,value| %>
	<div class="alert">
		<div class="container">
			<span><%= value %></span> 
		    <span class="close"><span class="fa fa-close fa-fw"></span></span>
		</div>
	</div>
<% end %>